.add-guests {
  /* width: 90%; */
  /* height: 90%; */
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.ad-banner {
  width: 100%;
  height: 10em;
  /* background: linear-gradient(to bottom right, blue, pink); */
  /* background-image: url(../../../assets/images/admin-banner.jpg); */
  color: whitesmoke;
  background-color: rgb(6, 4, 34, .5);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  border-radius: 8px 8px 4px 4px;
}
.add-form {
  width: 60%;
  text-align: center;
  padding: 1%;
  /* border: 0.1em solid rgb(60, 90, 30); */
}
.g-names {
  width: 100%;
  /* display: flex; */
  /* flex-direction: row; */
}
form.add-form input {
  margin: 0.4em 0.2em;
  border-radius: 6px;
}
.add-btn {
  border-radius: 8px;
  border: none;
  padding: 0.8em 1.6em;
  background-color: green;
  color: whitesmoke;
  font-weight: bold;
}
.add-btn:hover {
  background-color: rgb(2, 110, 2);
  box-shadow: 0.8px 0.8px rgba(128, 128, 128, 0.5);
}
select {
  padding: 0.4em;
  margin: 0.5em;
  border-radius: 6px;
}
