.hotelOasis {
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ex-container {
    width: 100%;
    padding-top: 0.1em;
    /* background-color: red; */
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
}
.card {
    border: 1px dotted black;
    width: 49%;
    border-radius: 10px;
    margin: 0.2% 0.2%;
    height: 32%;
    background-color: aliceblue;
}
.cd-title {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}
.cd-text {
    height: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}