.hotelOasis {
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ex-container {
  width: 100%;
  padding-top: 0.1em;
  /* background-color: red; */
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
}

.cd-1 {
  background-image: url(/public/deluxe.jpg);
}
.card {
  width: 49%;
  border-radius: 10px;
  margin: 0.2% 0.2%;
  height: 32%;
  color: whitesmoke;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3)
  );
}
.cd-title {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}
.cd-text {
  padding: 0.2em;
  font-size: small;
  height: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
