.modal1-container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.171);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top {
    width: 100%;
    display: flex;
    justify-content: end;
}
.modal-head {
  width: 100%;
  display: flex;
  justify-content: center;
}
.close-btn {
  font-weight: bolder;
  background-color: rgba(0, 0, 1, 0.2);
  color: whitesmoke;
  border: none;
  padding: 0.5em;
  border-radius: 0 20px 0 6px ;
}
.close-btn:hover {
  cursor: pointer;
  background-color: tomato;
}
.close-btn:active {
  background-color: whitesmoke;
  color: rgba(0, 0, 1, 0.2);
}
.modal-content {
  background-color: rgba(235, 242, 236, 1);
  width: 80%;
  height: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
    display: flex;
    justify-content: center;
}
.names {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contacts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.submit {
    width: 100%;
    display: flex;
    justify-content: center;
}
.submit button {
    padding: 0.5em 0.8em;
    background-color: rgb(86, 99, 61);
    color: whitesmoke;
    border: none;
    border-radius: 6px;
}