.container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      to bottom left,
      rgb(116, 127, 96, 0.6),
      rgb(116, 127, 96, 0.7),
      rgba(116, 127, 96, 0.8)
    ),
    url(../images/rooms-back.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-container {
  width: 99%;
  height: 99%;
  /* border: 1px white solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5em; */
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px white solid; */
}
.rating img {
  margin-bottom: 20em;
  width: 6em;
}
.logo {
  font-family: allura;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 0.3em;
  margin-bottom: 0.8em;
  margin-top: 0.5em;
  font-size: 1.5em;
  text-shadow: 1px 1px rgba(0, 0, 1, 0.3);
}
.features {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
.feature-btn {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 2.5em;
  margin: 0.4em 0.5em;
  background-color: rgba(235, 242, 236, 1);
}
.outer-rooms-container {
  width: 75%;
  height: fit-content;
  background-color: rgba(235, 242, 236, 1);
  border-radius: 0.8em;
  overflow: auto;
}
.room {
  display: flex;
  padding: 0.4em;
  height: 10em;
  margin: 1em;
  border-radius: 0.5em;
  color: whitesmoke;
  align-items: center;
}
.rm-type {
  display: flex;
  padding: 4px;
  background-color: rgb(116, 127, 96);
  width: 70%;
  height: 90%;
  border-radius: 0.5em 0 0 0.5em;
}
.rm-type .clm-1 {
  height: 100%;
  width: 40%;
  padding-left: 5px;
}
.clm-1 h6 {
  padding-top: 3px;
  font-size: 1em;
  height: 40%;
  margin: 0;
  display: flex;
  /* align-items: top; */
  /* justify-content: center; */
}
.pricing {
  height: 50%;
  display: flex;
  /* justify-content: center; */
}
.pricing h5 {
  /* padding-top: 50%; */
  /* height: 40%; */
  margin: 0;
  display: flex;
  align-items: end;
  /* justify-content: center; */
}
.pricing span {
  margin-left: 5px;
  font-size: 0.5em;
  /* width: 20%; */
  display: flex;
  align-items: flex-end;
}
.clm-2 {
  display: flex;
  align-items: center;
}
.clm-2 p {
  font-size: 0.6em;
  text-align: center;
}
.book-btn {
  text-align: center;
  width: fit-content;
  background-color: black;
  filter: opacity(50%);
  position: relative;
  color: whitesmoke;
  border: 1px whitesmoke solid;
  border-radius: 10px;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.3em 0.5em;
  bottom: 60%;
  left: 40%;
}
.img-container {
  /* background-color: red; */
  height: 100%;
  width: 30%;
  /* border-radius: 0.2em 0.5em 0.5em 0.2em; */
}
.img-container img {
  border-radius: 0.2em 0.5em 0.5em 0.2em;
  width: 100%;
  height: 100%;
}
.avail-room {
  position: relative;
  right: 0%;
  top: -100%;
  width: fit-content;
  padding: 0.4em;
  /* border-radius: 0.2em; */
  background-color: rgba(116, 127, 96, 0.8);
}
.back-btn {
  width: fit-content;
  background-color: rgba(235, 242, 236, 0.8);
  box-shadow: 1px 1px rgba(0, 0, 1, 0.3);
  color: whitesmoke;
  /* padding: 0.5em; */
  border-radius: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-btn img {
  width: 2em;
}
