.rooms {
    border-radius: 10px;
    height: 300vh;
    width: 98%;
    margin: 1%;
    background-image: url(../images/rooms-back.jpg);
    background-position: center;
    background-size: cover;
    background: linear-gradient();
}